body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: #F9FAF8
  }

  .header-nav {
    flex-direction: row;
    width: 100%;
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 16px;
    gap: 16px;
  }

  .right-nav-bar {
    margin-left: auto;
  }

  .hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 90px;
  }

  .hero button {
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
  }

  .hero-1 {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
  }
  
   .hero-1 h2 {
    margin: 0;
   }

  .content {
    display: flex;
    flex-direction: column;
  }

  .card-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    width: 300px;
    display: flex;
    border-style: solid;
    margin: 16px;
    border-radius: 10px;
    flex-direction: row;
    gap: 25px;
    padding: 8px;
    flex: 1;
  }

  .quote-div {
    display: flex;
    flex-direction: column;
    padding: 96px 96px 96px;
    font-size: 24px;
    line-height: 120%;
    font-style: italic;
  }

  .sign-up {
    display: flex;
    flex-direction: column;
    border-top-style: solid;
    border-radius: 10px;
    margin: 40px;
  }

  .quote-div p {
    text-align: right;
  }

  .sign-up button {
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
  }